body#game {
    border: 5px solid var(--gray);
    transform: scale(var(--zoom));
}

#game,
#sceneTransition {
    background-color: var(--black);
    width: calc(var(--game-width) / var(--zoom));
    height: calc(var(--game-height) / var(--zoom));
    position: relative;
}



#sceneTransition {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s 1s;
}

#sceneTransition.show {
    cursor: progress;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 0s;
}

#scene {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: none;
    background-size: cover;
}


.character {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: none;
    background-size: cover;
}

/* DIALOG SCENES*/
.window.dialog {
    inset: auto 30px 30px 30px;
    position: absolute;
    min-height: 120px;
}

.button-row>button {
    flex: 1 1 0px;
    max-width: 50%;
}

.dialog>.character:nth-child(1) {
    top: -100px;
    left: 20px;
}

.dialog>.character:nth-child(2) {
    top: -100px;
    right: 20px;
}