#map {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: inset;
    background-image: url("/src/assets/image/map/background tiles.png");
    background-size: cover;
}
#map>*{
    position: absolute;
}

#map>.water{
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/image/map/blue water.gif");
    background-size: cover;
    opacity: 0.5;
}

#map>.overlay{
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/image/map/land.png");
    background-size: cover;
}

button#map_delfos{
    top: 140px;
    left: 140px;
}
button#map_tainaron{
    top: 240px;
    left: 90px;
}