#lira {
    position: absolute;
    width: fit-content;
    top: 30px;
    left: 30px;
}
#lira>.window-body {
    width: 230px;
    height: 230px;
    border: inset 2px black;
    background-image: url("/src/assets/image/lira/nuvens.gif");
    background-size: cover;
}
#lira>.window-body>.overlay{
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/image/lira/lira_overlay.png");
    background-size: cover;
}

#teclado {
    position: absolute;
    top: 120px;
    right: 30px;
}
#teclado>.window-body {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    flex-direction: row;
}
button.note {
    min-width: unset;
    position: relative;
    height: 30px;
    padding: unset;
    flex-basis: calc((100%) / 7);
}
.note>p{
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 0.8rem;
}

#voltar {
    position: absolute;
    top: 30px;
    right: 30px;
}