#scene {
    background-image: url('/src/assets/image/background/hades.png');
    position: relative;
}
#scene>* {
    position: absolute;
}

#pandora {
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/image/background/pandora_cena.png');
    background-size: cover;
    background-position: bottom left;
}

#pata {
    width: calc(100px * 0.7);
    height: calc(250px * 0.7);
    background-image: url('/src/assets/image/minigame_pandora/pandora_pata.png');
    background-size: cover;
    transform-origin: top center;
    transform: rotate(-30deg);
    top: 110px;
    left: 200px;
}

#vaso {
    width: calc(400px * 0.3);
    height: calc(600px * 0.3);
    background-image: url('/src/assets/image/minigame_pandora/vaso.png');
    background-size: cover;
    top: 160px;
    left: 350px;
}
@keyframes texto {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#texto {
    top: 270px;
    left: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    box-shadow: 0px 0px 3px black;
    animation: texto 0.8s linear 0s infinite normal;

}